
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Datos del vehiculo</title>
	</head>
	<body>
		<header th:replace="plantilla :: header"></header>
		<h2> Agregar o crear vehiculo</h2>
		<a th:href ="@{/listaVehiculos}">Regresar</a>
		<br/>
        <form th:action="@{/guardarVehiculo}" method="post" th:object="${vehiculo}">
        	<br/>
            <label for="modelo">modelo:</label>
          	<select name="modelo" th:field="*{modelo}">
          		<option  th:each="modelo: ${modelos}" th:value="${modelo}" th:text="${modelo}"/> 
          	</select>
<!--           	<label for="dominio">Patente:</label>  -->
            <input type="hidden" name="dominio" th:field="*{dominio}"/> 
            <span th:if="${#fields.hasErrors('dominio')}" th:erros="*{dominio}">ingrese una patente valida la misma consta de 3 digitos al principio seguido de guion medio '-' y 3 letras al final</span>
            <br/>
<!--             <label for="marca">marca:</label> -->
            <input type="hidden" name="marca"th:field="*{marca}"/>
<!--           	<select name="marca" th:field="*{marca}"> -->
<!--           		<option  th:each="marca: ${marcas}" th:value="${marca}" th:text="${marca}"/>  -->
<!--           	</select> -->
            <span th:if="${#fields.hasErrors('marca')}" th:erros="*{marca}">ingrese una marca valida</span>

<!--             <label for="dni">dni_prop:</label>   -->
 		    <input type="hidden" name="dni" th:field="*{propietario.dni}"/>   
             <span th:if="${#fields.hasErrors('propietario.dni')}" th:erros="*{propietario.dni}">ingrese el dni de un propietario que se encuentre en la base de datos (el mismo consta de 7 a 8 caracteres)</span>
            <br/> 


            <input type="submit" name="guardar" value="Guardar"/>   
        </form>
	</body>
</html>