<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>VTV</title>
<meta charset="UTF-8">
</head>
<body>
	<header th:replace="plantilla :: header"></header>
	<h2>Vehiculos</h2>
	<br/>
	
	
	<p th:if="${propietario != null}">
	<a th:href ="@{/agregarVehiculos/}+${propietario.id}">Agregar Vehiculo</a>
	</p>
	
	<p th:if="${propietario == null}">
	<a th:href ="@{/agregarVehiculos}">Agregar Vehiculo</a>
	<br />
	<div th:if="${vehiculos != null and !vehiculos.empty}">
		<table border="1">
			<tr>
				<th>Patente</th>
				<th>Marca</th>
				<th>Modelo</th>
				<th>DNI propietario</th>
				<th colspan="2">propietario nombre</th>
<!-- el colspan es para meter nombre y apellido en la misma columna  -->
<!-- 				<th>Id</th> -->
			</tr>
			<tr th:each="vehiculo : ${vehiculos}">
				<td th:text="${vehiculo.dominio}">Mostrar dominio</td>
				<td th:text="${vehiculo.marca}">Mostrar marca</td>
				<td th:text="${vehiculo.modelo}">Mostrar modelo</td>
				<td th:text="${vehiculo.propietario.dni}">Mostrar DNI</td>

				<td th:text="${vehiculo.propietario.apellido}">Mostrar DNI</td>
				<td th:text="${vehiculo.propietario.nombre}">Mostrar DNI</td>  
<!-- 				<td th:text="${vehiculo.id}">Mostrar Id</td>	 -->

				
				<td><a th:href="@{/editarVehiculo/}+${vehiculo.id}" th:text="Editar"></a></td>
				<td><a th:href="@{/eliminarVehiculo(id=${vehiculo.id})}" th:text="Eliminar"></a></td>
				<td><a th:href="@{/inspeccionesVehiculo/}+${vehiculo.id}" th:text="Inspecciones"></a></td>
			</tr>
		</table>
	</div>
	<div th:if="${vehiculos == null or vehiculos.empty}">La lista de
		vehiculos está vacía
	</div>
	<br>
	<a th:href ="@{/}">Regresar</a>
	<br/>
</body>
</html>
