<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Datos de la inspeccion</title>
	</head>
	<body>
		<header th:replace="plantilla :: header"></header>
		<h2> Agregar o crear inspeccion</h2>
		<a th:href ="@{/listaInspecciones}">Regresar</a>
		<br/>
		<div th:if="${vehiculo != null}">
			<form th:action="@{/buscarPorEstado/}+${vehiculo.id}" method="post" th:param="${estado}">
			  	<label for="estado">estado:</label>
	           	<input type="text" name="estado" th:text="${estado}"/>         
	            <input type="submit" name="buscar" value="Buscar"/>   
	         </form>
        </div>
		<div th:if="${vehiculo == null}">
			<form th:action="@{/buscarPorEstado}" method="post" th:param="${estado}">
	            <label for="estado">estado:</label>
	           	<input type="text" name="estado" th:text="${estado}"/>         
	            <input type="submit" name="buscar" value="Buscar"/>   
	        </form>
        </div>
	</body>
</html>