<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Datos de la inspeccion</title>
	</head>
	<body>
		<header th:replace="plantilla :: header"></header>
		<h2> Agregar o crear inspeccion</h2>
		<a th:href ="@{/listaInspecciones}">Regresar</a>
		<br/>
        <form th:action="@{/guardarInspeccion}" method="post" th:object="${inspeccion}">
        		
            <br/>
            <label for="fecha">Fecha:</label> 
           
            <input type="date" name="fecha" th:field="*{fecha}"/> 
             <span th:if="${#fields.hasErrors('fecha')}" th:erros="*{fecha}">Ingrese una  Fecha</span>
            <br/> 
            <label for="estado">estado:</label>
          	<input type="text" name="estado" th:field="*{estado}"/> 
             <span th:if="${#fields.hasErrors('estado')}" th:erros="*{estado}">Ingrese un modelo</span>
            <br/> 
             <br/> 
            <label for="exento">exento:</label>
          	<input type="checkbox" name="exento" th:field="*{exento}"/> 
             <span th:if="${#fields.hasErrors('exento')}" th:erros="*{exento}">Ingrese una marca</span>
            <br/>
              <label for="id">Nro legajo inspector:</label>  
 		     <input type="number" name="id" th:field="*{inspector.id}"/>   
              <span th:if="${#fields.hasErrors('inspector.id')}" th:erros="*{inspector.id}">ingrese el dni de un inspector que se encuentre en la base de datos (el mismo consta de 7 a 8 caracteres)</span>
            <br/> 
            
<!-- modificar la siguiente linea y el controlador para que trabaje con la patente del auto y no con el id              -->
            <label for="vehiculo">vehiculo patente:</label>
          	<input type="text" name="vehiculo" th:field="*{vehiculo.dominio}"/> 
             <span th:if="${#fields.hasErrors('vehiculo.dominio')}" th:erros="*{vehiculo.dominio}">ingrese el id de un vehiculo que se encuentre en la base de datos</span>
            <br/>
             <input type="submit" name="guardar" value="Guardar"/>   
        </form>
	</body>
</html>