<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Datos del vehiculo</title>
	</head>
	<body>
		<header th:replace="plantilla :: header"></header>
		<h2> Agregar o crear vehiculo</h2>
		<a th:href ="@{/listaVehiculos}">Regresar</a>
		<br/>
        <form th:action="@{/guardarVehiculo}" method="post" th:object="${vehiculo}">
        	<br/>
        		
<!--             <br/> -->
            <label for="dominio">Patente:</label> 
            <!-- POSIBLE ERROR EN LA PROXIMA LINEA EN TYPE TEXT ES TEST ONLY? O PUEDE SER ALFANUMERICO? -->
            <input type="text" name="dominio" th:field="*{dominio}"/> 
            <span th:if="${#fields.hasErrors('dominio')}" th:erros="*{dominio}">Error de patente</span>
            <br/> 
            <label for="modelo">modelo:</label>
          	<input type="text" name="modelo" th:field="*{modelo}"/> 
             <span th:if="${#fields.hasErrors('modelo')}" th:erros="*{modelo}">Error de modelo</span>
            <br/> 
             <br/> 
            <label for="marca">marca:</label>
          	<input type="text" name="marca" th:field="*{marca}"/> 
             <span th:if="${#fields.hasErrors('marca')}" th:erros="*{marca}">Error de marca</span>
            <br/>
              <label for="dni">dni_prop:</label>  
 		     <input type="number" name="dni" th:field="*{propietario.dni}"/>   
              <span th:if="${#fields.hasErrors('propietario.dni')}" th:erros="*{propietario.dni}">Error de dni_prop</span>
            <br/> 
             <input type="submit" name="guardar" value="Guardar"/>   
        </form>
	</body>
</html>