<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Datos de inspector</title>
	</head>
	<body>
		<header th:replace="plantilla :: header"></header>
		<h2> Datos del inspector</h2>
		<a th:href ="@{/listaInspectores}">Regresar</a>
		<br/>
<!-- 		<p>Editando inspector con Id :<p th:text="${inspector.id_inspector}">Id</p></p>		 -->
        <form th:action="@{/guardarInspector}" method="post" th:object="${inspector}">
        	<br/>
        		
<!--             <br/> -->
            <label for="nombre">Nombre:</label> 
            <input type="text" name="nombre" th:field="*{nombre}"/> 
            <span th:if="${#fields.hasErrors('nombre')}" th:erros="*{nombre}">Error de nombre</span>
            <br/> 
            <label for="apellido">Apellido:</label>
          	<input type="text" name="apellido" th:field="*{apellido}"/> 
             <span th:if="${#fields.hasErrors('apellido')}" th:erros="*{apellido}">Error de apellido</span>

             <br/>
               <label for="dni">DNI:</label>  
               <input type="number" name="dni" th:field="*{dni}"/>  
                <span th:if="${#fields.hasErrors('dni')}" th:erros="*{dni}">El dni no puede ser 0 y debe tener entre 7 y 8 caracteres</span>
             <br/>  
             <input type="submit" name="guardar" value="Guardar"/>   
        </form>
        
	</body>
</html>